In [10]:
import numpy as np
import pandas as pd
import math
df=pd.read_csv(r'E:\5th sem\ML\lab\Custom_CNN_Features.csv')
df

,Filename,Label,f0,f1,f2,f3,f4,f5,f6,f7,...,f190,f191,f192,f193,f194,f195,f196,f197,f198,f199
0,1.png,2,50.557468,0.0,0.0,0.0,0.0,0.0,0.000000,0,...,316.271667,0.0,239.577011,277.834534,205.776398,0.0,0.0,0.0,0.0,91.438698
1,10.jpg.png,2,125.256027,0.0,0.0,0.0,0.0,0.0,48.989120,0,...,1317.333740,0.0,1000.075012,1118.496948,1030.366699,0.0,0.0,0.0,0.0,297.483124
2,10.png,2,50.160606,0.0,0.0,0.0,0.0,0.0,0.000000,0,...,330.470978,0.0,251.886398,288.062134,220.889481,0.0,0.0,0.0,0.0,93.795654
3,100.png,2,63.720730,0.0,0.0,0.0,0.0,0.0,0.000000,0,...,442.839233,0.0,345.145599,389.100678,304.433990,0.0,0.0,0.0,0.0,117.381721
4,10091.jpg,2,64.484604,0.0,0.0,0.0,0.0,0.0,37.368713,0,...,835.147400,0.0,649.643616,693.101868,690.640564,0.0,0.0,0.0,0.0,159.916016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3248,patch_84.jpg.png,2,283.005707,0.0,0.0,0.0,0.0,0.0,73.068192,0,...,2643.636230,0.0,2036.106934,2269.582275,1973.414917,0.0,0.0,0.0,0.0,657.907715
3249,patch_85.jpg.png,2,609.193603,0.0,0.0,0.0,0.0,0.0,131.018112,0,...,5950.206055,0.0,4727.840820,5170.731934,4594.757324,0.0,0.0,0.0,0.0,1362.733398
3250,patch_86.jpg.png,2,781.789490,0.0,0.0,0.0,0.0,0.0,174.997360,0,...,7535.423828,0.0,5972.883789,6563.629883,5749.376465,0.0,0.0,0.0,0.0,1758.735840
3251,patch_87.jpg.png,2,688.966675,0.0,0.0,0.0,0.0,0.0,206.603851,0,...,7119.000977,0.0,5575.274414,6160.208984,5423.260742,0.0,0.0,0.0,0.0,1670.340088
3252,patch_9.jpg.png,2,180.310455,0.0,0.0,0.0,0.0,0.0,81.433441,0,...,1922.478027,0.0,1477.720093,1617.056763,1526.339966,0.0,0.0,0.0,0.0,408.525330

In [12]:
# Creating a table of the new dataset. 
Table={
    'age': ['<=30','<=30','<=30','31...40','>40','>40','31...40','<=30','<=30','>40','<=30','31...40','31...40','>40'],
    'income': ['high','high','high','medium','low','low','low','medium','low','medium','medium','medium','high','medium'],
    'student':['no','no','no','no','yes','yes','yes','no','yes','yes','yes','no','yes','no'],
    'credit_rating':['fair','excellent','fair','fair','fair','excellent','excellent','fair','fair','fair','excellent','excellent','fair','excellent'],
    'buys_computer':['no','no','yes','yes','yes','no','yes','no','yes','yes','yes','yes','yes','no']
}
#upload the dataframe
df=pd.DataFrame(Table)
df

        age  income student credit_rating buys_computer
0      <=30    high      no          fair            no
1      <=30    high      no     excellent            no
2      <=30    high      no          fair           yes
3   31...40  medium      no          fair           yes
4       >40     low     yes          fair           yes
5       >40     low     yes     excellent            no
6   31...40     low     yes     excellent           yes
7      <=30  medium      no          fair            no
8      <=30     low     yes          fair           yes
9       >40  medium     yes          fair           yes
10     <=30  medium     yes     excellent           yes
11  31...40  medium      no     excellent           yes
12  31...40    high     yes          fair           yes
13      >40  medium      no     excellent            no

In [ ]:
#Q_A1
#Deciding which dataset is the root node for a decision tree
Age

In [16]:
#Q_A1:
# For the data table provided below, calculate the entropy associated with each attribute / featurat the root node. 
#Using this information, identify the first feature that you’d select for constructing the decision tree. 
#Use Information Gain as the impurity measure to identify the root node.‘buys_computer’ is the class label.

# Deciding which dataset is the root node for a decision tree
Age_data_field = df.iloc[:, 0]
Age_less_equal_30 = Age_data_field == '<=30'
Positive_less_equal_30 = Age_less_equal_30.count()
Age_not_less_equal_30 = Age_data_field != '<=30'
Negative_less_equal_30 = Age_not_less_equal_30.count()
Total_less_equal_30 = Positive_less_equal_30 + Negative_less_equal_30
less_equal_30_probability_positive = Positive_less_equal_30 / Total_less_equal_30
less_equal_30_probability_negative = Negative_less_equal_30 / Total_less_equal_30
Entropy_less_equal_30 = -(less_equal_30_probability_positive * np.log2)

TypeError: unsupported operand type(s) for *: 'float' and 'numpy.ufunc'