In [11]:
import pandas as pd
import numpy as np

In [12]:
dataframe_project = pd.read_csv(r'E:\5th sem\ML\lab\Custom_CNN_Features.csv')
dataframe_project

,Filename,Label,f0,f1,f2,f3,f4,f5,f6,f7,...,f190,f191,f192,f193,f194,f195,f196,f197,f198,f199
0,1.png,2,50.557468,0.0,0.0,0.0,0.0,0.0,0.000000,0,...,316.271667,0.0,239.577011,277.834534,205.776398,0.0,0.0,0.0,0.0,91.438698
1,10.jpg.png,2,125.256027,0.0,0.0,0.0,0.0,0.0,48.989120,0,...,1317.333740,0.0,1000.075012,1118.496948,1030.366699,0.0,0.0,0.0,0.0,297.483124
2,10.png,2,50.160606,0.0,0.0,0.0,0.0,0.0,0.000000,0,...,330.470978,0.0,251.886398,288.062134,220.889481,0.0,0.0,0.0,0.0,93.795654
3,100.png,2,63.720730,0.0,0.0,0.0,0.0,0.0,0.000000,0,...,442.839233,0.0,345.145599,389.100678,304.433990,0.0,0.0,0.0,0.0,117.381721
4,10091.jpg,2,64.484604,0.0,0.0,0.0,0.0,0.0,37.368713,0,...,835.147400,0.0,649.643616,693.101868,690.640564,0.0,0.0,0.0,0.0,159.916016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3248,patch_84.jpg.png,2,283.005707,0.0,0.0,0.0,0.0,0.0,73.068192,0,...,2643.636230,0.0,2036.106934,2269.582275,1973.414917,0.0,0.0,0.0,0.0,657.907715
3249,patch_85.jpg.png,2,609.193603,0.0,0.0,0.0,0.0,0.0,131.018112,0,...,5950.206055,0.0,4727.840820,5170.731934,4594.757324,0.0,0.0,0.0,0.0,1362.733398
3250,patch_86.jpg.png,2,781.789490,0.0,0.0,0.0,0.0,0.0,174.997360,0,...,7535.423828,0.0,5972.883789,6563.629883,5749.376465,0.0,0.0,0.0,0.0,1758.735840
3251,patch_87.jpg.png,2,688.966675,0.0,0.0,0.0,0.0,0.0,206.603851,0,...,7119.000977,0.0,5575.274414,6160.208984,5423.260742,0.0,0.0,0.0,0.0,1670.340088
3252,patch_9.jpg.png,2,180.310455,0.0,0.0,0.0,0.0,0.0,81.433441,0,...,1922.478027,0.0,1477.720093,1617.056763,1526.339966,0.0,0.0,0.0,0.0,408.525330

In [13]:
# Question A1:
# Calculate the prior probabilities of each class values

# Creating the customer data table
table = {
    'age': ['<=30', '<=30', '31...40', '>40', '>40', '>40', '31...40', '<=30', '<=30', '>40', '<=30', '31...40', '31...40', '>40'],
    'income': ['high', 'high', 'high', 'medium', 'low', 'low', 'low', 'medium', 'low', 'medium', 'medium', 'medium', 'high', 'medium'],
    'student': ['no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no'],
    'credit_rating': ['fair', 'excellent', 'fair', 'fair', 'fair', 'excellent', 'excellent', 'fair', 'fair', 'fair', 'excellent', 'excellent', 'fair', 'excellent'],
    'buys_computer': ['no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no']
}

dataframe_customer = pd.DataFrame(table)
dataframe_customer

        age  income student credit_rating buys_computer
0      <=30    high      no          fair            no
1      <=30    high      no     excellent            no
2   31...40    high      no          fair           yes
3       >40  medium      no          fair           yes
4       >40     low     yes          fair           yes
5       >40     low     yes     excellent            no
6   31...40     low     yes     excellent           yes
7      <=30  medium      no          fair            no
8      <=30     low     yes          fair           yes
9       >40  medium     yes          fair           yes
10     <=30  medium     yes     excellent           yes
11  31...40  medium      no     excellent           yes
12  31...40    high     yes          fair           yes
13      >40  medium      no     excellent            no

In [14]:
# Calculating the probability of each class

# Calculating the prior probabitity of the class yes
probability_yes = dataframe_customer.loc[dataframe_customer['buys_computer'] == 'yes', 'buys_computer'].count() / dataframe_customer.loc[:, 'buys_computer'].count()

# Calculating the prior probability of the class no
probability_no = dataframe_customer.loc[dataframe_customer['buys_computer'] == 'no', 'buys_computer'].count() / dataframe_customer.loc[:, 'buys_computer'].count()

print("The prior probabilities of class yes is: ", probability_yes)
print("The prior probabilities of class no is: ", probability_no)

The prior probabilities of class yes is:  0.6428571428571429
The prior probabilities of class no is:  0.35714285714285715

In [15]:
# Question A2:
# Calculate the class densities of all the features given the various classes

# Creating the dataframes for age and class label
dataframe_age_yes = pd.DataFrame(dataframe_customer.loc[dataframe_customer['buys_computer'] == 'yes', dataframe_customer.columns[[0, 4]]])

dataframe_age_no = pd.DataFrame(dataframe_customer.loc[dataframe_customer['buys_computer'] == 'no', dataframe_customer.columns[[0, 4]]])

# Probabities for each age value given the class is yes
# P(<=30|yes)
probability_less_equal_30_given_yes = dataframe_age_yes.loc[dataframe_age_yes['age'] == '<=30', 'age'].count() / dataframe_age_yes.loc[:, 'buys_computer'].count()
print("P(<=30 | yes) = ", probability_less_equal_30_given_yes)
# P(31...40|yes)
probability_31_to_40_given_yes = dataframe_age_yes.loc[dataframe_age_yes['age'] == '31...40', 'age'].count() / dataframe_age_yes.loc[:, 'buys_computer'].count()
print("P(31...40 | yes) = ", probability_31_to_40_given_yes)
# P(>40|yes)
probability_great_than_40_given_yes = dataframe_age_yes.loc[dataframe_age_yes['age'] == '>40', 'age'].count() / dataframe_age_yes.loc[:, 'buys_computer'].count()
print("P(>40 | yes) = ", probability_great_than_40_given_yes)

# Probabilities for each age value given the class is no
# P(<=30|no)
probability_less_equal_30_given_no = dataframe_age_no.loc[dataframe_age_no['age'] == '<=30', 'age'].count() / dataframe_age_no.loc[:, 'buys_computer'].count()
print("P(<=30 | no) = ", probability_less_equal_30_given_no)
# P(31...40|no)
probability_31_to_40_no = dataframe_age_no.loc[dataframe_age_no['age'] == '31...40', 'age'].count() / dataframe_age_no.loc[:, 'buys_computer'].count()
print("P(31...40 | no) = ", probability_31_to_40_no)
# P(>40|no)
probability_great_than_40_given_no = dataframe_age_no.loc[dataframe_age_no['age'] == '>40', 'age'].count() / dataframe_age_no.loc[:, 'buys_computer'].count()
print("P(>40 | no) = ", probability_great_than_40_given_no)

P(<=30 | yes) =  0.2222222222222222
P(31...40 | yes) =  0.4444444444444444
P(>40 | yes) =  0.3333333333333333
P(<=30 | no) =  0.6
P(31...40 | no) =  0.0
P(>40 | no) =  0.4

In [18]:
# Creating the dataframes for income and class label
dataframe_income_yes = pd.DataFrame(dataframe_customer.loc[dataframe_customer['buys_computer'] == 'yes', dataframe_customer.columns[[1, 4]]])

dataframe_income_no = pd.DataFrame(dataframe_customer.loc[dataframe_customer['buys_computer'] == 'no', dataframe_customer.columns[[1, 4]]])

# Probabities for each income value given the class is yes
# P(high|yes)
probability_high_given_yes = dataframe_income_yes.loc[dataframe_income_yes['income'] == 'high', 'income'].count() / dataframe_income_yes.loc[:, 'buys_computer'].count()
print("P(high | yes) = ", probability_high_given_yes)
# P(medium|yes)
probability_medium_given_yes = dataframe_income_yes.loc[dataframe_income_yes['income'] == 'medium', 'income'].count() / dataframe_income_yes.loc[:, 'buys_computer'].count()
print("P(medium | yes) = ", probability_medium_given_yes)
# P(low|yes)
probability_low_given_yes = dataframe_income_yes.loc[dataframe_income_yes['income'] == 'high', 'income'].count() / dataframe_income_yes.loc[:, 'buys_computer'].count()
print("P(low | yes) = ", probability_low_given_yes)

# Probabilities for each income value given the class is no
# P(high|no)
probability_high_given_no = dataframe_income_no.loc[dataframe_income_no['income'] == 'high', 'income'].count() / dataframe_income_no.loc[:, 'buys_computer'].count()
print("P(high | no) = ", probability_high_given_no)
# P(medium|no)
probability_medium_given_no = dataframe_income_no.loc[dataframe_income_no['income'] == 'medium', 'income'].count() / dataframe_income_no.loc[:, 'buys_computer'].count()
print("P(medium | no) = ", probability_medium_given_no)
# P(low|no)
probability_low_given_no = dataframe_income_no.loc[dataframe_income_no['income'] == 'low', 'income'].count() / dataframe_income_no.loc[:, 'buys_computer'].count()
print("P(low | no) = ", probability_low_given_no)

P(high | yes) =  0.2222222222222222
P(medium | yes) =  0.4444444444444444
P(low | yes) =  0.2222222222222222
P(high | no) =  0.4
P(medium | no) =  0.4
P(low | no) =  0.2

In [19]:
# Creating the dataframes for student and class label
dataframe_student_yes = pd.DataFrame(dataframe_customer.loc[dataframe_customer['buys_computer'] == 'yes', dataframe_customer.columns[[2, 4]]])

dataframe_student_no = pd.DataFrame(dataframe_customer.loc[dataframe_customer['buys_computer'] == 'no', dataframe_customer.columns[[2, 4]]])

# Probabities for each income value given the class is yes
# P(yes|yes)
probability_yes_given_yes = dataframe_student_yes.loc[dataframe_student_yes['student'] == 'yes', 'student'].count() / dataframe_student_yes.loc[:, 'buys_computer'].count()
print("P(yes | yes) = ", probability_yes_given_yes)
# P(no|yes)
probability_no_given_yes = dataframe_student_yes.loc[dataframe_student_yes['student'] == 'no', 'student'].count() / dataframe_student_yes.loc[:, 'buys_computer'].count()
print("P(no | yes) = ", probability_no_given_yes)

# Probabilities for each income value given the class is no
# P(yes|no)
probability_yes_given_no = dataframe_student_no.loc[dataframe_student_no['student'] == 'yes', 'student'].count() / dataframe_student_no.loc[:, 'buys_computer'].count()
print("P(yes | no) = ", probability_yes_given_no)
# P(no|no)
probability_no_given_no = dataframe_student_no.loc[dataframe_student_no['student'] == 'no', 'student'].count() / dataframe_student_no.loc[:, 'buys_computer'].count()
print("P(no | no) = ", probability_no_given_no)

P(yes | yes) =  0.6666666666666666
P(no | yes) =  0.3333333333333333
P(yes | no) =  0.2
P(no | no) =  0.8

In [20]:
# Creating the dataframes for credit rating and class label
dataframe_credit_rating_yes = pd.DataFrame(dataframe_customer.loc[dataframe_customer['buys_computer'] == 'yes', dataframe_customer.columns[[3, 4]]])

dataframe_credit_rating_no = pd.DataFrame(dataframe_customer.loc[dataframe_customer['buys_computer'] == 'no', dataframe_customer.columns[[3, 4]]])

# Probabities for each income value given the class is yes
# P(excellent|yes)
probability_excellent_given_yes = dataframe_credit_rating_yes.loc[dataframe_credit_rating_yes['credit_rating'] == 'excellent', 'credit_rating'].count() / dataframe_credit_rating_yes.loc[:, 'buys_computer'].count()
print("P(excellent | yes) = ", probability_excellent_given_yes)
# P(fair|yes)
probability_fair_given_yes = dataframe_credit_rating_yes.loc[dataframe_credit_rating_yes['credit_rating'] == 'fair', 'credit_rating'].count() / dataframe_credit_rating_yes.loc[:, 'buys_computer'].count()
print("P(fair | yes) = ", probability_fair_given_yes)

# Probabilities for each income value given the class is no
# P(excellent|no)
probability_excellent_given_no = dataframe_credit_rating_no.loc[dataframe_credit_rating_no['credit_rating'] == 'excellent', 'credit_rating'].count() / dataframe_credit_rating_no.loc[:, 'buys_computer'].count()
print("P(excellent | no) = ", probability_excellent_given_no)
# P(fair|no)
probability_fair_given_no = dataframe_credit_rating_no.loc[dataframe_credit_rating_no['credit_rating'] == 'fair', 'credit_rating'].count() / dataframe_credit_rating_no.loc[:, 'buys_computer'].count()
print("P(fair | no) = ", probability_fair_given_no)

P(excellent | yes) =  0.3333333333333333
P(fair | yes) =  0.6666666666666666
P(excellent | no) =  0.6
P(fair | no) =  0.4

In [21]:
# Applying the label encoding each of the features
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
for i in dataframe_customer.columns:
    dataframe_customer[i] = label_encoder.fit_transform(dataframe_customer[i])
dataframe_customer

    age  income  student  credit_rating  buys_computer
0     1       0        0              1              0
1     1       0        0              0              0
2     0       0        0              1              1
3     2       2        0              1              1
4     2       1        1              1              1
5     2       1        1              0              0
6     0       1        1              0              1
7     1       2        0              1              0
8     1       1        1              1              1
9     2       2        1              1              1
10    1       2        1              0              1
11    0       2        0              0              1
12    0       0        1              1              1
13    2       2        0              0              0

In [10]:
# Question A3:
# Test of independence between the features

# Finding the correlation between all the features
dataframe_customer.iloc[:, :4].corr(method = 'pearson')

                    age    income       student  credit_rating
age            1.000000  0.414161  8.944272e-02   7.745967e-02
income         0.414161  1.000000  0.000000e+00  -1.980295e-01
student        0.089443  0.000000  1.000000e+00  -6.409876e-17
credit_rating  0.077460 -0.198030 -6.409876e-17   1.000000e+00

In [11]:
# Question A4:
# Apply the Naive Bayes classifier for the above table data
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

dataframe_customer_input = dataframe_customer.iloc[:, :4]
dataframe_customer_output = dataframe_customer.iloc[:, 4]

# Splitting the data into training data and testing data
customer_input_train, customer_input_test, customer_output_train, customer_output_test = train_test_split(dataframe_customer_input, dataframe_customer_output, test_size=0.3, random_state=42)

# Applying the naive bayes classifier on customer data
model_naive_bayes = GaussianNB()
model_naive_bayes.fit(customer_input_train, customer_output_train)

customer_output_predicted = model_naive_bayes.predict(customer_input_test)
accuracy_customer_data = accuracy_score(customer_output_test, customer_output_predicted)
print("The accuracy of the customer data is: ", accuracy_customer_data)

The accuracy of the customer data is:  0.6

In [12]:
# Question A5:
# Apply the Naive Bayes classifier for the project data
from sklearn.metrics import classification_report
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
dataframe_project_input = dataframe_project.iloc[:, 2:]
dataframe_project_output = dataframe_project.iloc[:, 1]

# Splitting the project data into training data and testing data
project_input_train, project_input_test, project_output_train, project_output_test = train_test_split(dataframe_project_input, dataframe_project_output, test_size=0.3, random_state=42)

# Applying the naive bayes classifier on project data
model_project_naive_bayes = GaussianNB()
model_project_naive_bayes.fit(project_input_train, project_output_train)

project_output_predicted = model_project_naive_bayes.predict(project_input_test)
accuracy_project_data = accuracy_score(project_output_test, project_output_predicted)
print("The accuracy of the project data is: ", accuracy_project_data)
print("The precision score of the project data is:", precision_score(project_output_test, project_output_predicted, average='weighted'))
print("The recall score of the project data is:", recall_score(project_output_test, project_output_predicted, average='weighted'))
print("The f1-score of the project data is:", f1_score(project_output_test, project_output_predicted, average='weighted'))
print(classification_report(project_output_test, project_output_predicted))

The accuracy of the project data is:  0.9252049180327869
The precision score of the project data is: 0.9255562833917858
The recall score of the project data is: 0.9252049180327869
The f1-score of the project data is: 0.9252198043213808
              precision    recall  f1-score   support

           0       0.92      0.92      0.92       330
           1       0.92      0.94      0.93       478
           2       0.96      0.91      0.93       168

    accuracy                           0.93       976
   macro avg       0.93      0.92      0.93       976
weighted avg       0.93      0.93      0.93       976